<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Form</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Overpass"
      rel="stylesheet"
    />
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <style>
      #form {
        padding: 0px 0px 0px 100px;
        margin: 0px 0px 0px 0px;
      }
      form {
        width: 55%;
      }
    </style>
  </head>

  <body>
    <div class="jumbotron">
      <h2 class="display-4">Heart Disease</h2>
      <p class="lead"></p>
      <hr class="my-4" />
      <p>
        Heart disease refers to any condition affecting the heart. There are
        many types, some of which are preventable. Unlike cardiovascular
        disease, which includes problems with the entire circulatory system,
        heart disease affects only the heart. <br />
        Symptoms:ranging from chest pain to palpitations. Sometimes there are no
        symptoms. <br />
        Treatments vary widely and can include lifestyle changes, medication,
        surgery, stents, pacemakers and ablation.
      </p>
    </div>

    <div id="form">
      <form action="{{ url_for('heartdisease')}}" method="POST">
        <div class="form-group">
          <label for="first"><strong>Age </strong></label>
          <input
            class="form-control"
            id="first"
            name="age"
            type="number"
            required="required"
            style="font-weight: bold"
          />
        </div>

        <div class="form-group">
          <label for="second"
            ><strong>Gender (1 = male; 0 = female)</strong></label
          ><select
            class="form-control"
            name="sex"
            style="font-weight: bold"
            required
          >
            <option value="0">Female</option>
            <option value="1">Male</option>
          </select>
        </div>

        <div class="form-group">
          <label for="third"><strong>Chest Pain Type</strong></label>
          <select
            name="cp"
            class="form-control"
            style="font-weight: bold"
            required
          >
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
          </select>
        </div>

        <div class="form-group">
          <label for="fourth"
            ><strong>Resting Blood Pressure (in mm Hg) </strong></label
          >
          <input
            class="form-control"
            id="fourth"
            name="trestbps"
            type="number"
            required="required"
            style="font-weight: bold"
          />
        </div>

        <div class="form-group">
          <label for="fifth"
            ><strong>Resting Electrocardiographic Results</strong></label
          >
          <select
            name="restecg"
            class="form-control"
            style="font-weight: bold"
            required
          >
            <option value="0">0</option>
            <option value="1">1</option>
          </select>
        </div>

        <div class="form-group">
          <label for="sixth"
            ><strong
              >MaxHeartRate (maximum heart rate achieved eg. 156, 173,
              187,...)</strong
            ></label
          >
          <input
            class="form-control"
            id="sixth"
            name="thalach"
            type="number"
            required="required"
            style="font-weight: bold"
          />
        </div>

        <div class="form-group">
          <label for="seventh"
            ><strong>Exercise Induced Angina (0 = No; 1 = Yes)</strong></label
          >
          <select
            name="exang"
            class="form-control"
            style="font-weight: bold"
            required
          >
            <option value="0">No</option>
            <option value="1">Yes</option>
          </select>
        </div>

        <div class="form-group">
          <label for="eighth"
            ><strong
              >STdepression (ST depression induced by exercise relative to rest
              eg. 0.8, 1.4, 3.5,...)
            </strong></label
          >
          <input
            class="form-control"
            id="eighth"
            name="oldpeak"
            type="number"
            step="any"
            required="required"
            style="font-weight: bold"
          />
        </div>

        <div class="form-group">
          <label for="ninth"
            ><strong>Slope of the peak exercise ST segment</strong></label
          >
          <select
            name="slope"
            class="form-control"
            style="font-weight: bold"
            required
          >
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
          </select>
        </div>

        <div class="form-group">
          <label for="tenth"><strong>Number of major vessels</strong></label>
          <select
            name="ca"
            class="form-control"
            style="font-weight: bold"
            required
          >
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
          </select>
        </div>

        <div class="form-group">
          <label for="eleventh"
            ><strong
              >Thalassemia (1=Normal; 2=Fixed Defect; 3=Reversable)</strong
            ></label
          >
          <select
            name="thal"
            class="form-control"
            style="font-weight: bold"
            required
          >
            <option value="1">Normal</option>
            <option value="2">Fixed Defect</option>
            <option value="3">Reversable</option>
          </select>
        </div>
        <br /><br />
        <button id="sub" type="submit ">Predict</button>
      </form>
    </div>
  </body>
</html>
